{% extends 'base.html' %}

{% block title %}
Авторизация | 🍕 Пиццерия 🍕
{% endblock %}

{% block body %}

<div class="container">
    <h2>Авторизация</h2>
    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}
    <form id="LoginForm" method="post" action="/auth/login" novalidate>
        <input type="text" name="login" id="loginInput" placeholder="Введите никнейм или email">
        <input type="password" name="password" id="passwordInput" placeholder="Введите пароль">
        <button name="submitBtn" type="submit">Войти</button>
    </form>
</div>
<div id="modal" class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <p id="modalMessage"></p>
    </div>
</div>

<script src="{{ url_for('static', filename='javascript/login.js') }}"></script> <!-- Подключаем JS -->

{% endblock %}